

.vermelho {
  color: hsl(0, 100%, 50%);
  font: 3rem;
  font-style: italic;
}
.azul {
  color: dodgerblue;
  font: 3rem;
  font-style: italic;
}
.verde {
  color:hsl(120, 100%, 50%);
  font: 3rem;
  font-style: italic;
}